<!DOCTYPE html>
<html>

<head>
    <title>i2m</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .content {
            width: 500px;
            min-height: 560px;
            margin: 0px auto;
            position: relative;
        }
    </style>
</head>

<body>
    <section class="content">
        <form method="POST" enctype="multipart/form-data" action="/login">
            <h1>ENTRAR</h1>
            <p>
                <label for="name_login">Seu e-mail</label>
                <input id="name_login" name="email" required="required" type="text"
                    placeholder="ex. example@amassa.com">
            </p>
            <p>
                <label for="name_password">Password</label>
                <input id="name_login" name="password" required="required" type="password" placeholder="12345678">
            </p>
            <p>
                <input type="submit" value="ENVIAR" style="align-self: center;">
            </p>
        </form>
    </section>
</body>

</html>